:root {
  --monst: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--monst);
  // border: 1px solid magenta;
}

#app {
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

hr {
  height: 1px;
  background-color: white;
  color: white;
  margin: 6rem -220px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
  @media (max-width: 1024px) {
    padding: 0 16px;
  }
  
  @media (max-width: 768px) {
    padding: 0 12px;
  }
}