.header {
  background-image: url("../assets/background_header.svg");
  background-size: cover;
  // background: linear-gradient(180deg, #f4f9ff 0%, #e8f0fa 100%);
  background-position: center;
  // background-repeat: no-repeat;
  padding: 0 3rem;
  padding-top: 3rem;
  min-height: 100vh;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(
  //     to top,
  //     rgba(90, 152, 208, 0.2) 0%,      // голубоватый внизу
  //     rgba(255, 255, 255, 0.95) 50%,   // почти белый в середине
  //     rgba(255, 255, 255, 1) 100%      // полностью белый сверху
  //   );
  //   pointer-events: none;
  //   z-index: 1;
  // }
  
  &__top {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin: 0 auto;
    // gap: 100px;
    max-width: 75%;
  }
  
  &__top--blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      // padding-left: -80px;
      position: relative;
      z-index: 1;
    }
  }
  
  &__top--blocks--left {
    // flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: start;
    max-width: 50%;
    z-index: 10;
  }
  
  &__navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    margin-bottom: 3rem;
  }
  
  &__main--info {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    gap: 32px;
    margin-bottom: 5rem;

    h1 {
      max-width: 40rem;
      text-align: left;
      color: #1f3f68;
      font-size: 4rem;
      font-weight: 400;
    }
    
    p {
      color: #798ca4;
      max-width: 70%;
      text-align: left;
      letter-spacing: 5%;
      opacity: 60%;
    }
  }
}