.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8rem;
  // gap: 50px;

  &__cards--block {
    display: flex;
    gap: 20px;
    // flex-direction: column;
    align-items: flex-start;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    max-width: 40rem;

    h1 {
      color: #316099;
      max-width: 30rem;
      font-size: 2.5rem;
      text-align: left;
      letter-spacing: 5%;
      margin-right: 200px;
      font-weight: 600;
    }

    &--card1 {
      img {
        // margin-top: -90px;
        max-width: 12rem;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 100px;

    &--card2 {
      .card__logo--top {
        margin-top: -80px;
        // margin-bottom: ;
        max-width: 16rem;
      }
    }

    &--card3 {
      img {
        max-width: 12rem;
        // padding-top: -40px;
      }
    }
  }
}

  

